body {
    font-family: monospace;
    font-size: 16px;
}

.content {
    max-width: 600px;
    margin: 0 auto;
}

.add-post {
    margin-top: 24px;
}

.add-post__textarea {
    display: block;
    width: 100%;
    min-height: 200px;
    margin-bottom: 6px;

    font-family: inherit;
    font-size: inherit;

    resize: vertical;
}

.add-post__button {
    font-size: 24px;
}

.records {
    margin-top: 24px;
}